{% extends "master.html" %}

{% block title %}
Admin Panel
{% endblock %}

{% block content %}
<div class="container">
	<div class="container-fluid p-4 bg-primary text-white text-center form-control">
		<h1>Admin Panel</h1>
	</div>
	<div class="container mt-5 bg-light">
		<div class="row">
			<div class="col-sm">
				<fieldset class="border border-primary p-2">
					<legend>Student Database</legend>
					<form action="/super/upload/stddb/" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ stddbform.non_field_errors }}
						<div class="mb-3">
							{{ stddbform.file.errors }}
							<label for="{{stddbform.file.id_for_label}}" class="form-label">Upload student database file (xls, xlsx and csv file format only)</label>
							{{stddbform.file}}
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</fieldset>
			</div>
			<div class="col-sm">
				<fieldset class="border border-primary p-2">
					<legend>Question Database</legend>
					<form action="/super/upload/qnsdb/" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ qnsdbform.non_field_errors }}
						<div class="mb-3">
							{{ qnsdbform.file.errors }}
							<label for="{{qnsdbform.file.id_for_label}}" class="form-label">Upload qestion database file (xls, xlsx and csv file format only)</label>
							{{qnsdbform.file}}
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</fieldset>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-sm">
				<fieldset class="border border-primary p-2">
					<legend>Exam Management</legend>
					For Exam management
				</fieldset>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-sm">
				<fieldset class="border border-primary p-2">
					<legend>Notice management</legend>
					For notice management
				</fieldset>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-sm">
				<fieldset class="border border-primary p-2">
					<legend>See Database</legend>
					<form action="/super/upload/viewdb/" method="post">
						{% csrf_token %}
						{{ querydb.non_field_errors }}
						<div class="mb-3">
							{{ querydb.database.errors }}
							<label for="{{querydb.database.id_for_label}}" class="form-label">Databases: </label>
							{{querydb.database}}
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
</div>
{% endblock %}
